/* add css module styles here (optional) */

.primary {
  margin: 0.5em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 3px;
  background-color: #1790FF;
  color: #fff;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

.primary:hover {
  background-color: #0F6BCC;
}

.dashed {
  margin: 0.5em;
  padding: 0.5em 1em;
  border: 1px dashed rgb(179, 179, 179);
  border-radius: 3px;
  background-color: transparent;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

.dashed:hover {
  background-color: #f2f2f2;
}

.default {
  margin: 0.5em;
  padding: 0.5em 1em;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 3px;
  background-color: #fff;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

.default:hover {
  background-color: #f2f2f2;
}

.test {
  margin: 0.5em;
  padding: 0.5em 1em;
  border: none;
  background-color: transparent;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

.test:hover {
  color: #1790FF;
}

.link {
  margin: 0.5em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  color: #1790FF;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

.link:hover {
  color: #0F6BCC;
}

